.DS_Store
.vscode/
.idea
.cache/
.mypy_cache
node_modules/
dist/
*.pyc
env/
deployment/kubernetes
cloudconnector
__pycache__
ssh_known_hosts
ssh_private_keys
.pytest_cache
*.egg-info
*.ipynb

htmlcov/
*.sql.gz

prometheus_multiproc_dir/

yapf.patch

*.env
venv

# JS/TS/Web
node_modules/
